.container {
  margin-top: 10px;
}

.title {
  font-size: 70px;
  font-weight: 500;
  color: orange;
}

/* .post {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.imgContainer {
  flex: 1;
  height: 300px;
  position: relative;
} */

/* .image {
  object-fit: cover;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: none;
border-radius: 5px;
background-color: #121c34; */
/* }  */

/* .postTitle {
  font-size: 30px;

}

.postDesc {
  font-size: 20px;
  font-weight: 300;
  color: var(--softTextColor);
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  width: max-content;
  background-color: black;
  color: white;
} */

@media screen and (max-width: 1280px) {
  .title {
    font-size: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 50px;
  }

  /* .imgContainer {
    display: none;
  } */
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 25px;
   
  }
}